li {
	list-style: none;
}

.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filters button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.filters .dropdowns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}

.filters .locations,
.filters .amenities {
	height: 100%;
	width: 25%;
	background-color: white;
	position: relative;
}

.filters .locations {
	border-right: 1px solid #dddddd;
}

.filters .locations h3,
.filters .amenities h3 {
	font-weight: 600;
	margin: 15px 0 0 30px;
}

.filters .locations h4,
.filters .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0 0 15px 30px;
}

.filters .locations .popover,
.filters .amenities .popover {
	visibility: hidden;
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 20px;
	position: absolute;
	left: 0;
	top: 68px;
	width: 100%;
	z-index: 1;
}

.filters .locations .popover {
	padding-top: 10px;
}

.filters .locations:hover .popover {
	visibility: visible;
}

.filters .amenities:hover .popover {
	visibility: visible;
}

.filters .locations .popover_list,
.filters .amenities .popover_list {
	margin: 0;
	padding: 0;
	width: 100%;
}

.filters .locations .popover h2,
.filters .amenities .popover h2 {
	margin: 20px 0 0;
}

.filters .locations .popover li:not(li:has(h2)),
.filters .amenities .popover li {
	margin: 10px 0 0 10px;
}
