.places {
	margin-top: 30px;
}

.places h1 {
	text-align: start;
	font-size: 30px;
}

.places .articles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}
